# Ocultar carpetas del sistema y de dependencias locales
node_modules/
.DS_Store

# Si tienes archivos con contraseñas locales o configuraciones privadas de respaldo, ponlos aquí:
config.secret.js
.env
.env.*
firebase-config.local.js